.row:first-child {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 80px;
	background: red;
	box-shadow: 0 5px 18px 3px rgba(0,0,0, .5);
}
.row:first-child a {
	font-size: 40px;
	text-decoration: none;
	color: white;
}
.registration.col.s6 {
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.waves-effect.waves-light.btn {
	font-size: 20px;
	margin-right: 25px; 
	padding: 20px;
	display: flex;
    align-items: center;

}
.registration-form {
	display: flex;
	flex-direction: column;
	width: 100%;
	max-width: 350px;
	box-sizing: border-box;
}
.submit {
	display: flex;
    margin: 0 auto;
	max-width: 200px;
	justify-content: center;
	text-align: center;
}
.content {
	display: flex;
	width: 100%;
	justify-content: center;
}
.col-main {
	display: flex;
	flex-direction: column;
	margin: 0 20px; 
}
.col-item {
	display: flex;
	cursor: pointer;
	transition: 0.3s;
	box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.3);
	
}
.col-item:hover {
	box-shadow: 2px 3px 6px 1px rgba(0, 0, 0, 0.8);
	transform: scale(1.1);
}
.col-item img {
	max-width: 300px;
	height: 300px;
}
.book-titles {
	display: flex;
	flex-direction: column;
	padding: 20px 15px;
}
.col-item-title {
	margin-top: 100px;
}